body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.table {
  width: 100%;
}

table td small {
  color: gray;
}

.leaderboard-search {
  margin-top: 15px;
  text-align: center;
}

@media only screen and (max-width: 1320px) {
  td {
    padding: 0px 8px 0px 8px !important;
    text-align: left !important;
  }
}

@media only screen and (max-width: 768px) {
  td {
    padding: 0px 0px 0px 8px !important;
  }
}
